<!-- index.html -->

<html>

<head>



<body>
  <nav
    style="display:flex; justify-content:center;align-items:center; height: 10vh;width: 100%;max-width: 100%; margin: 20px auto">


    <div id="flight-lands" class="navbar-wrapper" style="position: relative;width:32%;max-width: 300px;height:100%;
           border: 1.5px solid black; border-radius: 8px;
            background-image: url('https://media.istockphoto.com/photos/sunrise-picture-id531253600?k=20&m=531253600&s=612x612&w=0&h=Q-q9YYdHwdvWEp5dIBAcwO8e1i6Oem9yQiQhAEzqi9A=');
            display: flex; justify-content: center; align-items: center;cursor:pointer;">
      <div
        style="position: absolute; top: 0; width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
        <div style="position: relative;top: 10px; font-size: 20px;
        color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
          טיסות ממתינות לנחיתה
        </div>
        <strong id="numbe-of-landing" style="position: relative; font-size: 25px;
        color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
          -
        </strong>
      </div>
    </div>

    <div style="width:30px"></div>

    <div id="flight-takeoffs" class="navbar-wrapper" style="position: relative; width:32%;max-width: 300px;height:100%;
           border: 1.5px solid black; border-radius: 8px;
            background-image: url('https://media.istockphoto.com/photos/field-of-spring-grass-and-perfect-sky-picture-id1282821744?k=20&m=1282821744&s=612x612&w=0&h=72S488h8B5nf0vHRJgGtmP7Tb7kTTxy7NxtL70BpIg0=');
            display: flex; justify-content: center; align-items: center; cursor: pointer;">
      <div class="navbar-brand" style="position: relative; left: 20px;top: -10px; font-size: 20px;
      color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">טיסות
        ממתינות להמראה
      </div>
      <strong id="numbe-of-takeoffs" style="position: relative; left: -110px;top: 18px; font-size: 25px;
      color: whitesmoke;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
        -
      </strong>
    </div>

    <div style="width:30px"></div>
    
    <div id="weather_box" class="navbar-wrapper" style="position: relative;width:32%;max-width: 300px;height:100%;
           border: 1.5px solid black; border-radius: 8px;
            background-image: url('https://media.istockphoto.com/photos/light-of-sun-and-sky-blue-or-azure-sky-and-cloud-picture-id921587648?k=20&m=921587648&s=612x612&w=0&h=Bo8LLKaZsTZRZKrYaprQ5Lm2qZ-DayVvwN_Ca4aU30M=');
            display: flex; flex-direction: column; justify-content: center; align-items: center;
            /* background-image:url('https://www.ksnt.com/wp-content/uploads/sites/86/2016/03/sunshine_36360441_ver1.0-1.jpg'); */
            background-size: 100% 100%;
            "
            >
            <img id="weather_img"  alt="alternatetext" style="position: relative;
            right: 40%;
            top: 15%;
            width:23%;text-align: left;"> 
      </img>
      <div class="navbar-brand" style="position: relative; font-size: 20px;color: black;">
      </div>
      
      <div id="BGU_temp" class="bar-chart secondary" data-total="42" animated
        style="position: relative;right: 35%;bottom: 10%; font-weight: 400;font-size: 25px;color: black;">
        
      </div>
      <div style="position: relative;left: 20%;bottom: 98%;font-size: 15px;">
        Ben Gurion Airport(TLV)
      </div>
      <script>

        const btnFlightLands = document.getElementById("flight-lands");
        const btnFlightTakeoffs = document.getElementById("flight-takeoffs");
        function unix_toDate(timestamp) {

          var date = new Date(timestamp * 1000);
          // Hours part from the timestamp
          var hours = date.getHours();
          // Minutes part from the timestamp
          var minutes = "0" + date.getMinutes();
          // Seconds part from the timestamp
          var seconds = "0" + date.getSeconds();

          // Will display time in 10:30:23 format
          var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
          return formattedTime;
        }
        btnFlightLands.addEventListener('click', () => {
          if (btnFlightLands.classList.contains('open')) {
            console.log('Yes, it does contain open, removing it.')
            btnFlightLands.removeChild(btnFlightLands.lastChild);
            btnFlightLands.classList.remove('open')
          } else {

            console.log('no it does not contain open! adding it')

            const div = document.createElement('div')
            div.style = 'width: 100%; height: auto; background-color: white; border: 1px solid black; border-radius: 10px; z-index:2; position: absolute; top: 100%';
            const ul = document.createElement('ul')
            div.appendChild(ul)
            /*
            Code to fetch data from redis
            */
            fetch('http://localhost:3000/landing')
              .then((response) => {
                return response;
              })
              .then((myJson) => {
                var code = myJson.json();
                code.then(value => {
                  console.log(value);
                document.getElementById("numbe-of-landing").innerText = value.length;
                for (let i = 0; i < value.length; i++) {
                  var obj = value[i];

                  const li = document.createElement('li')
                  li.style = 'color: green;font-weight: bold;';
                  li.textContent = `(${obj['num']}) ${obj['toport']}->${obj['fromport']} ${unix_toDate(obj['scheduled_arr'])}`;
                  ul.appendChild(li)
                }
              }
                )
              });


            btnFlightLands.appendChild(div)
            btnFlightLands.classList.add('open')

          }
        }
        )

        btnFlightTakeoffs.addEventListener('click', () => {
          if (btnFlightTakeoffs.classList.contains('open')) {
            console.log('Yes, it does contain open, removing it.')
            btnFlightTakeoffs.removeChild(btnFlightTakeoffs.lastChild);
            btnFlightTakeoffs.classList.remove('open')
          } else {

            console.log('no it does not contain open! adding it')

            const div = document.createElement('div')
            div.style = 'width: 100%; height: auto; background-color: white; border: 1px solid black; border-radius: 10px; z-index:2; position: absolute; top: 100%';
            const ul = document.createElement('ul')
            div.appendChild(ul)
            /*
            Code to fetch data from redis
            */
            fetch('http://localhost:3000/takeoff')
              .then((response) => {
                return response;
              })
              .then((myJson) => {
                var code = myJson.json();
                code.then(value => {
                  console.log(value);
                document.getElementById("numbe-of-takeoffs").innerText = value.length;
                for (let i = 0; i < value.length; i++) {
                  var obj = value[i];

                  const li = document.createElement('li')
                  li.style = 'color: green;font-weight: bold;';
                  li.textContent = `(${obj['num']}) ${obj['toport']}->${obj['fromport']} ${unix_toDate(obj['scheduled_arr'])}`;
                  ul.appendChild(li)
                }
              }
                )
              });


            btnFlightTakeoffs.appendChild(div)
            btnFlightTakeoffs.classList.add('open')

          }
        }
        )

        
        const lat = 32.0068;
        const lng = 34.8853;

        fetch('https://api.openweathermap.org/data/2.5/weather?appid=15fb5ab1185d5953f6ce301bf8ea131b&units=metric&lat=' + lat + '&lon=' + lng)
      .then((response) => {
        return response.json();
      })
      .then((myJson) => {
        var code = myJson.cod;
        var icon = 'https://openweathermap.org/img/w/' + myJson['weather'][0]['icon'] + '.png';
        var desc = myJson['weather'][0]['description']
        
        var temp = Math.round(myJson['main']['temp'])
        document.getElementById("weather_img").src = icon;
        document.getElementById("BGU_temp").innerText = temp + "°C";
        console.log(myJson);
      });

      </script>

    </div>

  </nav>
</body>
</head>

</html>