<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<body class="" onload="setWs()">
  <div class="wrapper ">
    <div class="content"
      style="height: 100%;display: flex; flex-direction: column;align-items: center;justify-content: flex-start;">
      <%- include("../partials/main_bar") %>
        <div class="container-fluid" style="margin:10px;">

          <div>
            <%- include("../partials/the_map") %>

          </div>
        </div>
        <%- include("../partials/clock") %>
    </div>

</body>

</html>