<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/headers") %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="content"
      style="height: 100%;display: flex; flex-direction: column;align-items: center;justify-content: flex-start;">
      <%- include("../partials/main_bar") %>
        <div class="container-fluid" style="height: 65vh">

          <%- include("../partials/the_map") %>

        </div>
        <%- include("../partials/clock") %>
    </div>

</body>

</html>